body{
    background-color: rgb(64, 65, 66);
}


.nav{
    background-color: rgb(64, 65, 66);
}


.box {
    background-color: white;
    border: black 1px solid;
    border-radius: 10px;
}
.columns {
    background-color: rgb(66, 65, 64);
    
}
.main-container {
    margin: 1%;
}
.column {
    border:rgb(250, 133, 54) 3px solid ;
    margin: 10px;
    border-radius: 10px;
}
.box {
    padding-bottom: 50%;
}
main{
    background-color: rgb(64, 65, 66);
    margin-top: 2%;
    margin-bottom: 2%;
}
footer{
    background-color: rgb(64, 65, 66) ;
}

/* added class for current day in Calendar*/
.current-date {
  color: red;
}





