@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


body{
    background-color: rgb(64, 65, 66);
}


.nav{
    background-color: rgb(64, 65, 66);
    margin: 0 auto;
    text-align: center;
}


.box {
    background-color: rgb(120, 124, 128); 
    /* border: black 1px solid; */
    border-radius: 10px;
}
.columns {
    background-color: rgb(66, 65, 64);
    
}
.main-container {
    margin: 1%;
}
.column {
    border:rgb(250, 133, 54) 3px solid ;
    margin: 10px;
    border-radius: 10px;
}
.box {
    padding-bottom: 45%;
}
main{
    background-color: rgb(64, 65, 66);
    margin-top: 2%;
    margin-bottom: 2%;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/*  */
*{
    font-family: 'Bungee' , cursive;
}

.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: rgb(250, 133, 54);
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

footer{
    background-color: rgb(64, 65, 66) ;
}

/* added class for current day in Calendar*/
.current-date {
  color: rgb(250, 133, 54);
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
  }
  
  li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:  #001b44;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
  }
  
  li:before {
    content: "\200B";
    position: absolute;
  }
  
  li::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #ff7034;
    color: white;
    font-size: 1em;
  }



