.nav{
    background-color: white;
}
.box {
    background-color: white);
    border: black 1px solid ;
}
.columns {
    background-color: rgb(206, 197, 197);
    
}
.main-container {
    margin: 1%;
}
.column {
    border: black 1px solid ;
}
.box {
    padding-bottom: 50%;
}
main{
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
footer{
    background-color: rgb(49, 49, 119) ;
}